name: "Build and Test"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - rel/**

  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/build-and-test.yaml
