name: Publish @bitgo/wasm-utxo
on:
  push:
    branches:
      - master
      - beta

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  publish:
    name: Publish Release
    runs-on: ubuntu-latest
    environment: publish
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node and Display Info
        uses: ./.github/actions/setup-node-with-info
        with:
          node-version: 20

      - name: Setup Rust and Wasm
        uses: ./.github/actions/setup-rust-wasm
        with:
          toolchain: nightly
          install-cargo-deny: 'false'
          cache: 'false'

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Configure NPM
        run: |
          echo "workspaces-update = false" >> .npmrc
          echo "@bitgo:registry=https://registry.npmjs.org" >> .npmrc

      - name: Install and Build Packages
        uses: ./.github/actions/npm-build

      - name: Unit Test
        run: npm --workspaces test

      - name: Release
        run: npx lerna publish --yes --no-verify-access --no-push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
